h1{
    font-size: 73px;
    font-weight: 800px;
     text-shadow:2px 2px 2px green;

}
body{
    font-family:  'Poppins', sans-serif;
    color:white;
    margin:0px;

    
}
/* top-banner-stylesheet-start */
.top-banner{
    background-image:radial-gradient(rgb(2, 131, 2),blue);
    background-blend-mode:lighten ;
    
    height: 677px;
    width: 100%;
  
    
}
.banner-font{
    width: 50%;
    padding-left:10%;
    margin-top: 110px;
    padding-right: 15%;
    margin-right: 5px;
    margin-bottom: 10%;
       
}
.banner img{
    transition: transform 1s;
    width: 556.01px;
    height: 438px;
    margin-top: 110px;
    margin-right: 80px;
  
}
/*animation*/
.banner img:hover{
   
transform: translate(-20px, 20px);


}
.flexible{
    display: flex;

}
.link-button{
    text-decoration: none;
    background-color:#E02C6D; 
    padding:10px 40px;
    font-size: 16px;
    font-weight: 300px;
    color: white;
 
   
}
/*animation*/
.link-button:hover{
  background: #10B589;
  color: black;
  box-sizing: border-box;
}
/* top-banner-stylesheet-end */

/* body grid style start*/
main{
    background-image:radial-gradient(lightgreen,white);
    
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 30px;
}

.container{
    
    width: auto;
    padding: auto;
    margin-top: 21px;
    margin-bottom: 30px;

}
.players{
    display: grid;
   
    grid-template-columns: repeat(3,1fr);
        row-gap: 30px;
    column-gap: 80px;

}
.player{
 box-shadow:10px 10px 40px gray;
 margin:0px;
 height:auto ;
 width: 330px;
 align-items: center;
 justify-content: space-between;
}
.player:hover /*animation */
{transform: scale(1.01);}
.playerimage img{
    padding: 5% 5% 2% 5%;
    width: 300px;
    height: 256px;
   
}

.playerinfo{
    color:black;
    padding: 4%;
    text-align: justify;
    
}
/* body grid style ends*/
a{
    text-decoration: none;

  color: rgb(39, 23, 23);
}
a .expand {
    height: 0; 
    overflow: hidden;
     transition: 1s;
    
}
a:active .expand {
    
    height: 20px; 
    overflow: visible; 
    transition:  1s;
}
/*last part style starts here*/
.last-part{
    display: flex;
    flex-direction: column;
     margin: 5% 5% 5% 5%;
}
.last-part img{
    
    height: 213px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: 30%;
    
  
}
.font-awesome
{
 text-align: center;
  margin-left: auto;
  margin-right: auto;
  
}
.font-awesome a{
    color: rgb(168, 168, 168);
}

.fab{
    background-color: gray;
    font-weight: 700;
    font-size: 40px;
    border-radius: 25px;
    border:grey dashed 10px;
    box-shadow:5px 5px 5px gray;
    margin-right: 20px;
}

.copyright{
  
    color: black;
    text-shadow:2px 2px 2px gray;
    font-size: 24px;
  text-align: center;
   
   
}

/*last part style ends here*/
 /* extra-credit-styles-start */
.extra-credit{
   
    display: flex;  
    margin: 5% 5% 5% 5%;

   
}
.video{
      margin: auto;
  width: 50%;
  border: 3px solid rgb(105, 128, 105);
  height: 280px;
  padding: 10px;
 
  font-size: 20px;
  text-align: center; 
}
.form{
    background-color: cadetblue;
   margin: auto;
  width: 50%;
  border: 3px solid rgb(105, 128, 105);
  height: 280px;
  padding: 10px;
 
  font-size: 20px;
  text-align: center;

}
/* extra-credit-styles-end */

/*responsive*/
/*mobile devices*/
 @media only screen and (max-width:300px) {
     .flexible {
    flex-direction: column;
}
h1{
    font-size: 50px;

}
.banner img{
    
    width:80%;
    height:80%;
  
  
}

.link-button{

    font-size: 8px;
 
 
   
}
     .top-banner { width: 100%;
 height: 100%;}

     .players, .extra-credit{
         
   
         grid-template-columns: repeat(1,1fr);
     }
     .form,.video{
         width: 100%;
     }

    .player,.extra-credit{
        flex-direction: column;
    }

 

     .courses{
         display: none;
     }
     .last-part img{
         height: 50%;
         width: 50%;

     }
     .fab{
         font-size: 12px;
     }
     .copyright
     {
         font-size:14px;
     }

 }